.body {
    width: 1440px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows:repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: 
    'pills_text ROCHE image'
    'pills_text Deo CREM' 
    ;
}

.pills_text {
    grid-area: pills_text;
    display: flex;
    flex-direction: column;
    padding-left: 133px;
    background: url('../images/Pills.png');
    background-size: cover;
}

.pills_text h1, h2 {
    font-family: Acrom;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.text_orange {
    background-color: #FFB804;;
}

.text_white {
    background-color: #FFFFFF;
}

.ROCHE {
    grid-area: ROCHE;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: url('../images/ROCHE.png');
    background-size: cover;
}

.image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: url('../images/image.png');
    background-size: cover;
}

.Deo {
    grid-area: Deo;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: url('../images/Deo.png');
    background-size: cover;
}

.CREM {
    grid-area: CREM;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: url('../images/CREM.jpg');
    background-size: cover;
}

.section_2 {
    display: grid;
    
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows:repeat(2, 1fr);
    grid-template-areas: 
    'item1 item2 item5 item6'
    'item3 item4 item5 item7' 
    ;
}























@media screen and (max-width:600px) {
    .section2 {
    grid-template-areas: 
    'title button'
    'image price'
    'image price'
    'description price';
    }    
}